.todo-list-container {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.todo-list-container #addTodo {
    width: 100%;
    font-size: 24px;
    padding: 8px;
    box-sizing: border-box;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 30px;
    border-bottom: 1px solid #ededed;
}

.todo-list li input[type="checkbox"] {
    width: 24px;
    height: 24px;
    padding-top: 22px;
    margin-top: 10px;
}

.todo-list-item {
    padding-left: 10px;
}

.todo-list-item--completed {
    text-decoration: line-through
}