.todo-list-container {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.todo-list-container #addTodo {
    width: 100%;
    font-size: 24px;
    padding: 8px;
    box-sizing: border-box;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 30px;
    border-bottom: 1px solid #ededed;
}

.todo-list li input[type="checkbox"] {
    width: 24px;
    height: 24px;
    padding-top: 22px;
    margin-top: 10px;
}

.todo-list-item {
    padding-left: 10px;
    width:100%;
    box-sizing: border-box;
}

.todo-list-item--completed {
    text-decoration: line-through
}

.todo-list-item:hover .todo-list-item__deleteBtn {
    display:block;
}

.todo-list-item__deleteBtn {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 35px;
    height: 35px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    outline: none;
    background: transparent;
    border: none;
}

.todo-list-item__deleteBtn:after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><polygon xmlns="http://www.w3.org/2000/svg" fill="%23800000" points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 "/></svg>');
    position: relative;
    right: 20px;
    bottom: 4px;
}

.todo-status {
    padding: 10px 10px 10px 15px;
    font-size: 20px;
}